.editContainer {
    flex: 4;
    padding: 20px;
}

.editTitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.editContainer {
    display: flex;
    margin-top: 20px;
}

.editShow {
    flex: 1;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 11px -1px #000000;
    box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.75);
}

.editUpdate {
    flex: 2;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 11px -1px #000000;
    box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.75);
    margin-left: 20px;
}

.editShowTop {
    display: flex;
    align-items: center;
}

.editShowImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.editShowTopTitle {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.editShowFirstname {
    font-weight: 600;
}

.editShowLastname {
    font-weight: 300;
}

.editShowBottom {
    margin-top: 20px;
}

.editShowBottomTitle {
    font-size: 14px;
    font-weight: 600;
    color: darkgrey;
}

.editShowBottomInfo {
    display: flex;
    align-items: center;
    margin: 20px 0px;
    color: dimgray;
}

.editShowBottomIcon {
    font-size: 16px !important;
}

.editShowBottomInfoTitle {
    margin-left: 10px;
}

.editUpdateForm {
    display: flex;
    justify-content: space-between;
    margin-top: 2px;
}

.editUpdateTitle {
    font-size: 24px;
    font-weight: 600;
}

.editUpdateItem {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.editUpdateItem > label {
    margin-bottom: 5px;
    font-size: 14px;
}

.editUpdateInput {
    border: none;
    width: 250px;
    border-bottom: 1px solid gray;
}

.editUpdateRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.editUpdateImg {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    //margin-left:20px;
    margin-right: 20px;
}

.editUpdateUpload {
    display: flex;
    align-items: center;
}

.editUpdateIcon {
    cursor: pointer;
}

.editUpdateButton {
    border-radius: 5px;
    border: 0px;
    padding: 5px;
    cursor: pointer;
    background-color: darkblue;
    color: white;
    font-weight: 600;
}
